#results {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

#results td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
}

#results tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#results tbody tr:hover {
    background-color: #ddd;
}

#results thead {
    padding: 0 12px;
    text-align: left;
    background-color: #0926a2;
    color: white;
}