@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

* {
    font-family: 'Open Sans', sans-serif;    
    font-size: 13px;
}

#title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

#results {
    border-collapse: collapse;
    width: 100%;
}

#results td, #result th {
    border: 1px solid #ddd;
    padding: 10px;
    word-wrap: break-word;
    max-width: 200px;   
}

#results tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#results tbody tr:hover {
    background-color: #ddd;
}

#results thead {
    padding: 0 12px;
    background-color: #0926a2;
    color: white;
    text-align: justify center;
    font-size: larger;
}